name: release

on:
  workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: eitco/maven-release@0.0.1
        with:
          gpg-private-key: ${{ secrets.ARTIFACT_SIGNING_GPG_PRIVATE_KEY }}
          gpg-key-name: ${{ secrets.ARTIFACT_SIGNING_GPG_KEY_NAME }}
          gpg-passphrase: ${{ secrets.ARTIFACT_SIGNING_GPG_PRIVATE_KEY_PASSWORD }}
          deploy-user: ${{ secrets.OSSRH_JIRA_USERNAME }}
          deploy-password: ${{ secrets.OSSRH_JIRA_PASSWORD }}
